@using ApiDoc.Models
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/prettify")
        @Scripts.Render("~/bundles/tinymce")
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/init.js"></script>
    </head>
    <body onload="init()">
        <div id="body">
        @Html.ValidationSummary()
        @{ Html.RenderPartial("Breadcrumb", (IList<Node>) ViewBag.Structure.Nodes);}
        @RenderBody()
        </div>
        
        @RenderSection("scripts", required: false)
    </body>
</html>
