@using ApiDoc.Models
@model IList<Node>

<nav>
@{
    var path = "/";
    <a href="@path">[home]</a>
    Write(" / "); 
    for (int i = 1; i < Model.Count; i++)
    {
        var item = Model[i];
        path = path + item.GetWikiUrlString();

        if (i + 1 == Model.Count) {
            <b><a href="@path">@item.Title</a></b>
        }else {
            <a href="@path">@item.Title</a>
        }
        
        if (i + 1 < Model.Count || item is Branch)
        {
            Write(" / ");
        }
    }
}
</nav>