@using ApiDoc.Models
@using ApiDoc.Utility
@{
    ViewBag.Title = "Modules";
}

<h3>Modules for @ViewBag.Api.Name</h3>
<ul>
    @foreach (ModuleDescription item in ViewBag.Modules)
    {
        <li class="apiDescription"><a href="@Request.Url.AbsoluteUri/@item.Name.ToWikiUrlString()"><h4>@item.Name</h4></a>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new {@class = "editButton"})
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new {@class = "deleteButton"})
        </li>
    }
</ul>
@Html.ActionLink("Create", "Create")