@using ApiDoc.Models
@model Branch

<section id="description">
    <h1>Description</h1>
    @Html.Raw(Model.Description)
</section>


<section id="children">
    <h1>Children</h1>
    <ul class="children">
        @foreach (var item in Model.Children)
        {
            var path = "/" + ViewBag.Structure.Path+ item.GetWikiUrlString();
            <li class="child @if (item.Deleted) { Write(" deleted"); }">
                <a href="@path"><h4>@item.Title</h4>@Html.Raw(item.Description)</a>
            </li>
        }
    </ul>
</section>
@Html.ActionLink("Create", "Create", "Wiki")

@if (ViewBag.ShowDeleted) {
    @Html.ActionLink("Hide deleted", "Display", "Wiki")
} else {
    @Html.ActionLink("Show All", "Display", "Wiki", new {showDeleted = true}, null)
}
