@using System.Globalization
@using ApiDoc.Models
@model Node

@{
    ViewBag.Title = "title";
    Html.RenderPartial("ItemActions", Model);
}

<h2>@Model.Name</h2>

<h3>Description</h3>
<p>@Model.Description</p>

<h3>Children</h3>
<div class="container">
<ul class="children">
    @foreach (Node item in Model.Children)
    {
        var reference = new {path = Request.Url.AbsolutePath + item.GetWikiUrlString()};
        var id = "deleteWindow" + item.Id.ToString(CultureInfo.InvariantCulture);
        <li class="child @if (item.Deleted) { Write(" deleted"); }">
            <a href="@reference.path"><h4>@item.Name</h4>@item.Description</a>
        </li>
    }
</ul>
@Html.ActionLink("Create", "Create")

@if (ViewBag.ShowDeleted) {
    @Html.ActionLink("Hide deleted", "Display");
} else {
    @Html.ActionLink("Show All", "Display", new {showDeleted = true});
}
</div>