@using ApiDoc.Models
@model Node

@{
    ViewBag.Title = "title";
}

<h2>@Model.Name</h2>
<ul>
    @foreach (Node item in Model.Children)
    {
        var reference = new {path = Request.Url.AbsolutePath + item.GetWikiUrlString()};
        <li class="apiDescription @if (item.Deleted) { Write(" deleted"); }">
            <a href="@reference.path"><h4>@item.Name</h4>@item.Description</a>
            
            @Html.ActionLink("Revisions", "History", reference, new {@class = "historyButton"})
            @Html.ActionLink("Edit", "Edit", reference, new {@class = "editButton"})
            @Html.ActionLink("Delete", "Delete", reference, new {@class = "deleteButton"})
        </li>
    }
</ul>
@Html.ActionLink("Create", "Create")

@if (ViewBag.ShowDeleted) {
    @Html.ActionLink("Hide deleted", "Display");
} else {
    @Html.ActionLink("Show All", "Display", new {showDeleted = true});
}
