@model HistoryViewModel
@using ApiDoc.Models
@{
    ViewBag.Title = "Api Revisions";
}

@if (ViewBag.Comparison != null)
{
    Node rev1 = ((IList<Node>)ViewBag.History).First(x => x.RevisionNumber == Model.Rev1);
    Node rev2 = ((IList<Node>)ViewBag.History).First(x => x.RevisionNumber == Model.Rev2);
    <p>Comparing these revisions:</p>
    <table>
        <tr><td>Old</td><td>@rev1.RevisionNumber</td><td>@rev1.ChangeDate</td><td>@rev1.Author</td></tr>
        <tr><td>New</td><td>@rev2.RevisionNumber</td><td>@rev2.ChangeDate</td><td>@rev2.Author</td></tr>
    </table>
    
    <table>
        <tr>
            <td></td>
            <th>Old</th>
            <th>New</th>
        </tr>
        <tr>
            <th>ParentId</th>
            <td>@rev1.ParentId</td>
            @if(rev1.ParentId != rev2.ParentId){
                <td><del>@rev1.ParentId</del><ins>@rev2.ParentId</ins></td>
            }else {
                <td>@rev2.ParentId</td>
            }
        </tr>
        <tr>
            <th>Deleted</th>
            <td>@rev1.Deleted</td>
            @if (rev1.Deleted != rev2.Deleted)
            {
                <td><del>@rev1.Deleted</del><ins>@rev2.Deleted</ins></td>
            }else {
                <td>@rev2.Deleted</td>
            }
        </tr>
        <tr>
            <th>Name</th>
            <td>@rev1.Name</td>
            <td>@Html.Raw(ViewBag.Comparison.Name)</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@rev1.Description</td>
            <td>@Html.Raw(ViewBag.Comparison.Description)</td>
        </tr>
        @* TODO: add extended properties of Leaf once we have them *@
    </table>
}


@using(Html.BeginForm()) {
    <table>
        <tr>
            <th></th>
            <th></th>
            <th>Revision</th>
            <th>Date</th>
            <th>Author</th>
            <th>Message</th>
            <th>Name</th>
            <th>Deleted</th>
            <th>View</th>
            @*TODO add some version of "revert to" *@
        </tr>

        @foreach (Node item in ViewBag.History)
        {
            var structure = ((NodeStructure) ViewBag.Structure);
            var last = structure.Nodes.Last();
            var stump = new NodeStructure{ Nodes = structure.Nodes.Where(x => x != last).ToList() };
            var baseUrl = stump.Path;
            
            <tr>
                <td>@Html.RadioButtonFor(m => m.Rev2, item.RevisionNumber)</td>
                <td>@Html.RadioButtonFor(m => m.Rev1, item.RevisionNumber)</td>
                <td>@item.RevisionNumber</td>
                <td>@item.ChangeDate</td>
                <td>@item.Author</td>
                <td>@item.ChangeNote</td>
                <td>@item.Name</td>
                <td>@item.Deleted</td>
                <td>@Html.ActionLink("View this revision", "Display",
                    new{path = baseUrl + @item.GetWikiUrlString(), revision = item.RevisionNumber})</td>
            </tr>
        }
    </table>
    
    <input type="submit" value="Compare"/>
}