@model HistoryViewModel
@using ApiDoc.Models
@{
    ViewBag.Title = "Api Revisions";
}

<h3>@ViewBag.Title</h3>

@if (ViewBag.Comparison != null)
{
    VersionedItem rev1 = ((IList<VersionedItem>)ViewBag.History).First(x => x.RevisionNumber == Model.Rev1);
    VersionedItem rev2 = ((IList<VersionedItem>)ViewBag.History).First(x => x.RevisionNumber == Model.Rev2);
    <p>Comparing these revisions:</p>
    <table>
    <tr><td>Old</td><td>@rev1.RevisionNumber</td><td>@rev1.ChangeDate</td><td>@rev1.Author</td></tr>
    <tr><td>New</td><td>@rev2.RevisionNumber</td><td>@rev2.ChangeDate</td><td>@rev2.Author</td></tr>
    </table>
    <table>
        <tr>
            <th>Name</th>
            <td>@Html.Raw(ViewBag.Comparison.Name)</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Html.Raw(ViewBag.Comparison.Description)</td>
        </tr>
    </table>
}


@using(Html.BeginForm()) {
    <table>
        <tr>
            <th></th>
            <th></th>
            <th>Revision</th>
            <th>Date</th>
            <th>Author</th>
            <th>Message</th>
            <th>Name</th>
            <th>Deleted</th>
        </tr>

        @foreach (Node item in ViewBag.History)
        {
            <tr>
                <td>@Html.RadioButtonFor(m => m.Rev2, item.RevisionNumber)</td>
                <td>@Html.RadioButtonFor(m => m.Rev1, item.RevisionNumber)</td>
                <td>@item.RevisionNumber</td>
                <td>@item.ChangeDate</td>
                <td>@item.Author</td>
                <td>@item.ChangeNote</td>
                <td>@item.Name</td>
                <td>@item.Deleted</td>
            </tr>
        }
    </table>
    
    <input type="submit" value="Compare"/>
}