@using ApiDoc.Models
@using ApiDoc.Utility
@{
    ViewBag.Title = "APIs";
}
<h3>@ViewBag.Title</h3>
<ul>
    @foreach (Node item in ViewBag.Apis)
    {
        var reference = new {apiId = item.Id};
        <li class="apiDescription @if (item.Deleted) { Write(" deleted"); }">
            <a href="@Request.Url.AbsoluteUri@item.Name.ToWikiUrlString()"><h4>@item.Name</h4>@item.Description</a>
            
            @Html.ActionLink("Edit", "Revisions", reference, new {@class = "historyButton"})
            @Html.ActionLink("Edit", "Edit", reference, new {@class = "editButton"})
            @Html.ActionLink("Delete", "Delete", reference, new {@class = "deleteButton"})
        </li>
    }
</ul>
@Html.ActionLink("Create", "Create")

@if (ViewBag.ShowDeleted) {
    @Html.ActionLink("Hide deleted", "List");
} else {
    @Html.ActionLink("Show All", "List", new {showDeleted = true});
}