@using ApiDoc.Models
@using ApiDoc.Utility
@{
    ViewBag.Title = "Methods";
}

<h3>Methods for @ViewBag.Api.Name / @ViewBag.Module.Name</h3>
<ul>
    @foreach (MethodDescription item in ViewBag.Methods)
    {
        var url = string.Format("{0}/{1}_{2}", Request.Url.AbsoluteUri, item.HttpMethod, item.Name);
        <li class="apiDescription"><a href="@url"><h4>@item.HttpMethod @item.Name</h4></a>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new {@class = "editButton"})
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new {@class = "deleteButton"})
        </li>
    }
</ul>
@Html.ActionLink("Create", "Create")